/* -------------------------------- 

Slideout Menu (mmenu)

-------------------------------- */

.mm-listview {
	> li {
		@include sunn;
		font-size: 32px;
		letter-spacing: 0.05em;
		padding: 0;
		text-align: center;

		@include media($phablet) {
			font-size: 40px;
		}

		&.contact {
			background-color: $gray;
		}
		&.current-menu-item {
			> a,
			> span {
				background-color: $orange;
				box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.33);
			}
		}
		&:not(.mm-divider) {
			&::after {
				border-color: $gray;
				left: 0;
			}
		}
		&.mm-selected > a:not(.mm-next),
		&.mm-selected > span:not(.mm-next) {
			background-color: transparent;
			-webkit-tap-highlight-color: $gray !important;
    		tap-highlight-color: $gray !important;
		}

		> a,
		> span {
			color: #fff;
			padding: 19px 22px 16px;
			
			@include media($phablet) {
				padding: 21px 25px 18px;
			}
		}
	}
}
.mm-panels {
	> .mm-panel {
		background-color: $dark-gray;
	}
}