// colors

$orange: #faa634;
$dark-gray: #202020;
$gray: #515151;
$highlight: #f89800;
$text-default: #000000;
$text-gray: #aaa;
$light-gray-border: 1px solid #c2c2c2;

// fonts 

$sunn: 'sunn_pro_regular';
$georgia: 'Georgia', serif;

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;

// breakpoint sizes
//$reader: 384px;
$phablet: 480px;
$large: 1200px;
$desktop: 992px;
$tablet: 768px;